$themeColors: (
        white:#FFFFFF,
        primary:#ef394e,
        secondary:#F3F6F9,
        success:#49D481,
        warning:#FFA824,
        danger:#F64E60,
        gray01:#424242,
        gray02:#818181,
        gray03:#B2B2B2,
        gray04:#E1E1E1,
        gray05:#F6F6F6,
        website-primary:#0055a5,
);

$lightColors: (
        primary:#E5FBFA,
        secondary:#F3F6F9,
        success:#E8FFF3,
        warning:#FFF9E0,
        danger:#FFEBF1,
);
$hoverColors: (
        primary:#a72837,
        success:#26A75A,
        warning:#F07D13,
        danger:#E7233A,
        secondary:#F9FBFC,
);
$alertColors: (
        primary:#E8FFF3,
        danger:#FFEBF1,
        warning:#FFF9E0,
);
$sidebarIconColors: (
        gray:#B5B5C3,
        lightgray:#E9E9ED,
        primary:#1BC5BD,
        lightprimary:#B3E7E7,
);
